<div class="col-xs-12">
    {{#each publications}}
        <div class="center-block">
            <div class="card-publication">
                <h5 class="publication-header">
                    <div>
                        <a href="/user/{{user}}" class="user">
                            <img class="profilePhoto" src='{{profilePic ../user.Google.profilePicId}}' alt="{{user.user}}">
                            <b>{{user}}</b>
                        </a>
                    </div>
                    <div class="op-btn-div getId" id="btn{{@index}}">
                            <button class="op-btn getId" id="btn{{@index}}">
                            <circle class="getId" id="btn{{@index}}"></circle>
                            <circle class="getId" id="btn{{@index}}"></circle>
                            <circle class="getId" id="btn{{@index}}"></circle>
                        </button>
                    </div>
                </h4>

                <div class="div-content">
                    <p class="publication-body d-flex justify-content-between align-items-center">
                        {{ publication }}
                    </p>
                </div>
                <div id="interactions">
                    <div class="interaction" id="div-like">
                        <input class="likeBtn"
                        onclick="likeCheckPost('{{../user.user}}', '{{@index}}','{{_id}}')"
                        type="checkbox" name="like" id="likeBtn{{@index}}" {{likeCheck likes ../user.user}}>
                        <label class="labelLikeBtn" for="likeBtn{{@index}}">
                            <i class="material-icons heart-icon" id="heart-icon{{@index}}">
                                favorite_border
                            </i>
                            <span class="interaction-text" id="likeText{{@index}}">
                                {{likes.length}}
                            </span>
                        </label>
                    </div>
                    <div class="interaction" id="div-comments">
                        <button class="commentBtn" id="comment{{@index}}">
                            <span class="material-icons comment-icon" id="comment-icon{{@index}}">
                                comment
                            </span>
                            <span class="interaction-text">
                                0
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
<script src="/javascript/like.js"></script>
</div>