{{#if user}}
<div class="col-xs-12">
    {{#each publications}}
        <div class="row-md-1 m-3 center-block">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center header">
                        <div>
                            <img class="profilePhoto" src='{{profilePic profilePic}}' alt="{{user.user}}">
                            <strong>{{user}}</strong>
                        </div>
                        <div class="op-btn-div getId" id="btn{{@index}}">
                                <button class="op-btn getId" id="btn{{@index}}">
                                <circle class="getId" id="btn{{@index}}"></circle>
                                <circle class="getId" id="btn{{@index}}"></circle>
                                <circle class="getId" id="btn{{@index}}"></circle>
                            </button>
                        </div>
                        <div class="dropInactive getId menu-div" id="menu{{@index}}">
                            <div class="menu">
                                {{#when userId "eq" user.userIds }}
                                <a href="/edit/{{_id}}" class="menu-element"><span class="menu-icon-div"><i class="fas fa-edit"></i></span>Editar</a>
                                <form action="/delete/{{_id}}?_method=DELETE" method="POST">
                                <button type="submit" name="delete-btn" class="menu-element"><span class="menu-icon-div"><i class="fas fa-trash-alt"></i></span>Eliminar</button>
                                </form>
                                {{/when}}
                                <a class="menu-element" href="#"><span class="menu-icon-div"><i class="fas fa-user-alt"></i></span>Perfil</a>
                                <a class="menu-element" href="#"><span class="menu-icon-div"><i class="fas fa-info"></i></span>Info</a>
                            </div>
                        </div>
                        <h3>{{title}}</h3>
                    </h4>
                    <p class="d-flex justify-content-between align-items-center">
                        {{ publication }}
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>

{{/if}}